@font-face{
    font-family: ;
}


body{
    color: black;
   
}
.drop{
    background: black;
    position: relative;
    display: inline-block;

}

button{
    background: black;
    color: white;
    font-family: ;
}
.btn{
    background: darkgray;
    color: black;
    padding: 3px;

}
.btn:hover .drop-con{
    visibility: visible;
    
}

.drop-con{
    visibility: hidden;
    display: none;
    position: fixed;
    box-shadow: 0px 6px 18px 0px black;

}
.drop-con>a{
    color: #f7931d;
}
.drop>button>.btn:hover {
    display: inline-block;
    visibility: visible;
    
}


.drop:hover .drop-con{
    visibility: visible;
    display: block;
}